In [1]:
import pandas as pd
import numpy as np

In [2]:
calibrations_df = pd.read_csv('Calibration.csv', header=None)
pressure_df = pd.read_csv('Pressure.csv', header=None)
time_df = pd.read_csv('Time.csv', header=None)
time_stamps_df = pd.read_csv('Time_Stamps.csv', header=None)

In [3]:
calibrations_df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
           dtype='int64')

In [4]:
pressure_df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32],
           dtype='int64')

In [5]:
time_df.columns

Int64Index([0], dtype='int64')

In [6]:
time_stamps_df.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], dtype='int64')

In [7]:
pressure_df.columns = ['port_' + str(x+1) for x in pressure_df.columns]
calibrations_df.columns = ['port_' + str(x+1) for x in calibrations_df.columns]

In [8]:
pressure_df['time'] = time_df.values

In [9]:
pressure_df.head()

,port_1,port_2,port_3,port_4,port_5,port_6,port_7,port_8,port_9,port_10,...,port_25,port_26,port_27,port_28,port_29,port_30,port_31,port_32,port_33,time
0,-12.693,-17.483,-15.958,-16.388,-8.0455,-15.060,-16.419,-12.095,-20.580,-13.866,...,-14.880,-11.850,-11.655,-14.272,-13.218,-13.169,-13.605,-14.510,-13.532,644.69
1,-12.693,-17.650,-15.958,-16.561,-8.3953,-14.889,-16.419,-12.265,-20.401,-14.226,...,-14.534,-12.019,-11.978,-13.932,-13.051,-13.511,-13.605,-14.676,-13.224,645.01
2,-12.531,-17.483,-15.615,-16.216,-7.8705,-14.718,-16.232,-12.095,-20.401,-13.686,...,-14.534,-11.850,-11.816,-14.102,-12.883,-13.169,-13.438,-14.343,-13.224,645.33
3,-12.693,-17.983,-15.958,-16.561,-8.2204,-14.889,-16.232,-12.095,-20.401,-14.046,...,-14.707,-12.019,-11.978,-14.272,-13.051,-13.169,-13.438,-14.510,-13.840,645.65
4,-13.019,-17.983,-15.958,-16.561,-8.7451,-15.231,-16.979,-12.435,-20.759,-14.046,...,-15.226,-12.189,-11.816,-14.102,-13.051,-13.340,-13.773,-14.510,-13.532,645.97

In [10]:
time_stamps_df.columns = ['event_' + str(x+1) for x in time_stamps_df.columns]

In [11]:
time_stamps_df

,event_1,event_2,event_3,event_4,event_5,event_6,event_7,event_8,event_9,event_10
0,745.69,757.69,763.69,775.69,805.69,810.19,815.19,827.69,839.69,848.69
1,866.69,880.69,885.69,898.69,1041.70,1046.20,1051.20,1063.70,1073.70,1082.70
2,1101.70,1114.70,1119.70,1132.70,1160.70,1164.20,1169.20,1182.70,1192.70,1201.70
3,1220.70,1232.70,1237.70,1250.70,1279.70,1283.20,1288.20,1301.70,1310.70,1319.70
4,1339.70,1351.70,1356.70,1369.70,1397.70,1401.20,1406.20,1419.70,1429.70,1438.70
5,1458.70,1469.70,1475.70,1488.70,1516.70,1520.20,1525.20,1537.70,1548.70,1557.70
6,1576.70,1588.70,1593.70,1606.70,1635.70,1639.20,1644.20,1656.70,1667.70,1676.70
7,1812.70,1824.70,1830.70,1843.70,1871.70,1875.20,1880.20,1893.70,1903.70,1912.70
8,1931.70,1943.70,1948.70,1961.70,1990.70,1994.20,1999.20,2011.70,2022.70,2031.70
9,2050.70,2061.70,2067.70,2080.70,2109.70,2113.20,2118.20,2130.70,2141.70,2149.70
10,2168.70,2180.70,2186.70,2199.70,2227.70,2231.20,2236.20,2249.70,2259.70,2268.70
11,2287.70,2299.70,2304.70,2317.70,2346.70,2350.20,2355.20,2368.70,2377.70,2387.70
12,2406.70,2418.70,2423.70,2436.70,2465.70,2469.20,2474.20,2486.70,2496.70,2505.70

In [12]:
time_stamps_df = pd.concat([time_stamps_df, time_stamps_df['event_1'].iloc[1:].reset_index(drop=True).rename(
                            'event_10_stop')],
                             axis=1)

In [13]:
time_stamps_df['key'] = 1
pressure_df['key'] = 1

In [14]:
time_stamps_df['lap_#'] = ['lap_' + str(x+1) for x in time_stamps_df.index]

In [15]:
pressure_df = pressure_df.merge(time_stamps_df, on='key')

In [16]:
pressure_df = pressure_df[(pressure_df.time < pressure_df['event_10_stop']) &
                          (pressure_df.time >= pressure_df['event_1'])]

In [17]:
def label_event(row):
    
    if row['time'] >= row['event_1'] and row['time'] < row['event_2']:
        return 'event_1'
    elif row['time'] >= row['event_2'] and row['time'] < row['event_3']:
        return 'event_2'
    elif row['time'] >= row['event_3'] and row['time'] < row['event_4']:
        return 'event_3'
    elif row['time'] >= row['event_4'] and row['time'] < row['event_5']:
        return 'event_4'
    elif row['time'] >= row['event_5'] and row['time'] < row['event_6']:
        return 'event_5'
    elif row['time'] >= row['event_6'] and row['time'] < row['event_7']:
        return 'event_6'
    elif row['time'] >= row['event_7'] and row['time'] < row['event_8']:
        return 'event_7'
    elif row['time'] >= row['event_8'] and row['time'] < row['event_9']:
        return 'event_8'
    elif row['time'] >= row['event_9'] and row['time'] < row['event_10']:
        return 'event_9'
    elif row['time'] >= row['event_10'] and row['time'] < row['event_10_stop']:
        return 'event_10'
    else:
        assert False

In [18]:
pressure_df['event_label'] = pressure_df.apply(label_event, axis=1)

In [19]:
columns = [x for x in pressure_df.columns if ('port' in x or 
                                              'label' in x or 
                                               x == 'time' or 
                                              'lap' in x)]

In [20]:
pressure_df = pressure_df[columns]

In [21]:
pressure_df.head()

,port_1,port_2,port_3,port_4,port_5,port_6,port_7,port_8,port_9,port_10,...,port_27,port_28,port_29,port_30,port_31,port_32,port_33,time,lap_#,event_label
4108,10.5530,5.4805,7.5359,10.6810,34.085,10.7590,9.8740,14.431,3.9323,6.6479,...,9.8541,7.1143,7.6787,-1.7097,6.5419,5.4914,-4.3047,745.81,lap_1,event_1
4121,10.0660,5.1484,7.1934,9.3030,31.463,10.4170,9.8740,14.262,3.3961,7.5463,...,8.8849,7.4531,8.8472,-1.3678,7.3806,6.4898,-3.9972,746.13,lap_1,event_1
4134,9.4162,4.8162,6.6796,8.7862,31.114,8.7093,8.7561,13.922,3.7536,6.6479,...,6.9464,5.5898,6.8440,-2.2226,6.2064,5.3250,-4.6122,746.45,lap_1,event_1
4147,9.4162,4.6501,6.8508,10.1640,30.589,9.3924,9.1287,13.413,4.4686,7.5463,...,7.5925,5.4204,7.0110,-2.2226,5.5354,4.4930,-5.2272,746.77,lap_1,event_1
4160,8.7668,3.9858,5.8232,8.9584,28.492,8.7093,8.0109,12.564,2.1449,5.9292,...,7.2694,5.0817,6.0094,-2.2226,5.5354,4.4930,-5.8421,747.09,lap_1,event_1

In [22]:
groups = pressure_df.groupby(['lap_#', 'event_label'])
data = groups.mean().reset_index()

In [23]:
data = data.drop('time', axis=1)

In [28]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.ensemble import RandomForestClassifier

In [29]:
X = pressure_df[[x for x in pressure_df if 'port' in x]]
y = pressure_df.event_label

In [30]:
clf = LogisticRegression()
scores = cross_val_score(clf, X, y, cv=5)
scores

array([ 0.6753507 ,  0.65461847,  0.50905433,  0.64919355,  0.625     ])

In [31]:
clf = SVC()
scores = cross_val_score(clf, X, y, cv=5)
scores

array([ 0.65230461,  0.65361446,  0.49798793,  0.63508065,  0.67540323])

In [33]:
clf = RandomForestClassifier()
scores = cross_val_score(clf, X, y, cv=5)
scores

array([ 0.61523046,  0.60742972,  0.48289738,  0.60887097,  0.60685484])

In [34]:
clf = GaussianNB()
scores = cross_val_score(clf, X, y, cv=5)
scores

array([ 0.3496994 ,  0.40060241,  0.16800805,  0.18850806,  0.16834677])